      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1><%= @title %></h1>
        <p class="lead">Whether you're using <a href="https://github.com/natritmeyer/site_prism">Site Prism page objects</a>
          or <a href="">Capybara</a> directly in your tests, they both rely on using CSS selectors to locate elements.
          The steps behind <code>css_selectors.feature</code> are intended to provide a single source of examples for
          the different ways you can use them to find elements. See the following for details</p>
        <ul>
          <li><code>features/quke/css_selectors.feature</code></li>
          <li><code>features/step_definitions/quke/css_selector_steps.rb</code></li>
          <li><code>quke_demo_app/views/css_selector.erb</code></li>
        </ul>
      </div>

      <form class="css_selectors" id="css_selectors" action="/cssselector" accept-charset="UTF-8" method="post">
        <fieldset>

          <div id="form_group_organisation_type" role="group" aria-labelledby="groupLabel" class="form">
            <label class="radio" for="organisation_limited_company">
              <input id="organisation_limited_company" type="radio" value="WasteExemptionsShared::OrganisationType::LimitedCompany" name="enrollment[organisation_attributes][type]" />
              Limited company
            </label>
            <label class="radio" for="organisation_limited_liability_partnership">
              <input id="organisation_limited_liability_partnership" type="radio" value="WasteExemptionsShared::OrganisationType::LimitedLiabilityPartnership" name="enrollment[organisation_attributes][type]" />
              Limited liability partnership
            </label>
            <label class="radio" for="organisation_partnership">
              <input id="organisation_partnership" type="radio" value="WasteExemptionsShared::OrganisationType::Partnership" name="enrollment[organisation_attributes][type]" />
              Partnership
            </label>
            <label class="radio" for="organisation_other">
              <input id="organisation_other" type="radio" value="WasteExemptionsShared::OrganisationType::Other" name="enrollment[organisation_attributes][type]" />
              Other (trust, club or public body)
            </label>
            <label class="radio" for="organisation_not_known">
              <input id="organisation_not_known" type="radio" value="WasteExemptionsShared::OrganisationType::NotKnown" name="enrollment[organisation_attributes][type]" />
              I don’t know
            </label>
          </div>

          <div id="form_group_exemption_types" role="group" aria-labelledby="groupLabel" class="form-group">
            <label class="block-label" for="fra2">
              <input id="fra2" name="exemption[fra2]" type="checkbox" value="1" />
              FRA2 Electrical cable service crossing a main river
            </label>
            <label class="block-label" for="fra3">
              <input id="fra3" name="exemption[fra3]" type="checkbox" value="1" />
              FRA3 Service crossing below the bed of a main river by directional drilling
            </label>
            <label class="block-label" for="fra4">
              <input id="fra4" name="exemption[fra4]" type="checkbox" value="1" />
              FRA4 Service crossings attached to the outside of existing structures over a main river
            </label>
          </div>

          <div id="form_group_search_input" role="group" aria-labelledby="groupLabel" class="form-group">
            <label class="form-label" for="search_input">
              Enter your search
            </label>
            <input class="form-control form-control-char-25" aria-describedby="search-help" type="text" name="search_input" id="search_input"/>
          </div>
        </fieldset>

        <div class="form-group">
          <input type="submit" id="commit" name="commit" value="Continue" class="button"/>
        </div>
      </form>
