<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1><%= @title %> <img src="/assets/images/quke.png" width="65px" align="middle" /></h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br /> All you get is this text and a mostly barebones HTML document.</p>
</div>

<%= erb '_partial_example'.to_sym %>
