      <!-- Main jumbotron for a primary marketing message or call to action -->
      <header>
        <div class="jumbotron">
          <h1><%= @title %> <img src="/assets/images/quke.png" width="65px" align="middle" /></h1>
          <p class="lead">This demo app is what the example features run against.<br /> Use it along with the features to explore how to interact with your web sites using Quke.</p>
        </div>
      </header>

      <ul>
        <li><a href="/search">Search</a></li>
        <li><a href="/radiobutton">Radio button</a></li>
        <li><a href="/cssselector">CSS selector</a></li>
      </ul>

      <%= erb '_partial_example'.to_sym %>
