      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1><%= @title %></h1>
        <p class="lead">The steps for <code>search.feature</code> demonstrate how to fill in a form, submit it and then
          test the response is what you expected. In this case that's confirming you got the right number of results and that they
          contained the correct data. See the following for details</p>
        <ul>
          <li><code>features/quke/search.feature</code></li>
          <li><code>features/step_definitions/quke/search_steps.rb</code></li>
          <li><code>quke_demo_app/views/search.erb</code></li>
        </ul>
      </div>

      <form class="edit_grid_reference" id="edit_grid_reference" action="/search" accept-charset="UTF-8" method="post">
        <fieldset>

          <div id="form_group_search_input" role="group" aria-labelledby="groupLabel" class="form-group">
            <label class="form-label" for="search_input">
              Enter your search
            </label>
            <input class="form-control form-control-char-25" aria-describedby="search-help" type="text" name="search_input" id="search_input"/>
          </div>
        </fieldset>

        <div class="form-group">
          <input type="submit" id="commit" name="commit" value="Continue" class="button"/>
        </div>
      </form>
      <% if @results %>
      <div id="results">
        <h2>Results</h2>
        <% @results.each do | title, desc | %>
          <div id="<%= title %>" class="result">
            <h3 class="result-title"><%= title %></h3>
            <p class="result-desc"><%= desc %></p>
          </div>
        <% end %>
      </div>
      <% end %>
